[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/OldTiger
[access "refs/for/refs/*"]
	read = group user/OldTiger
	push = group user/OldTiger
	label-Code-Review = -2..+2 group user/OldTiger
	label-Verified = -1..+1 group user/OldTiger
	rebase = group user/OldTiger
	removeReviewer = group user/OldTiger
	submit = group user/OldTiger
[access "refs/heads/*"]
	read = group user/OldTiger
	create = group user/OldTiger
	push = +force group user/OldTiger
	pushMerge = group user/OldTiger
[access "refs/tags/*"]
	push = +force group user/OldTiger
	pushTag = group user/OldTiger
	pushSignedTag = group user/OldTiger
